#indexContainer {
    /* color: #233e5b !important; */
    height: 55vh;
  
  }


#second-jumbo{
    background-color: white !important;
}

#second-section{
    background-color: white !important;
}

/* #notes{
    height: 15vh !important;
} */

.update-photo{
    color: #1f98f5 !important;
    font-size: 16px !important;
}

.note-icon{
    width: 65px  !important;
    height: 65px !important;
}

#d-fields{
    display: none !important;
}

#talentnotes{
    color: gray !important;
}

#profilecard{
    height: 70vh !important;
}

#clientprofilecard{
    height: 98vh !important;
}

#profilecard{
    height: 70vh !important;
}

#admincard{
    height: 105vh !important;
}


#profilephotoupdate{
    height: 35vh !important;
}

.nav-link{
    /* font-family: 'Roboto' !important; */
    font-size: 16px !important;
    text-shadow: none !important;
    font-family: 'Poppins', sans-serif !important;
    color: gray !important;
 
}

.form-group{
    font-family: 'Poppins', sans-serif !important;
    /* font-family: 'Noto Sans KR', sans-serif;
    font-family: 'Rubik', sans-serif; */
    /* font-family: 'Varela Round', sans-serif; */
    color: gray;
    
    }

#jobid{
    font-family: 'Poppins', sans-serif !important;
    font-size: 18px !important;
    color: gray !important;
}



#vip{
    font-family: 'Poppins', sans-serif !important;
    color:  #1f98f5 !important;
    font-size: 18px !important;
}

td {
    font-family: 'Poppins', sans-serif !important;
    color: gray;
}   

#jobtitle-admin{
    color: gray !important;
    font-family: 'Poppins', sans-serif !important;
    font-size: 20px !important;
}

.all-filter{
    font-family: 'Poppins', sans-serif !important;
    color: gray;
    
    }

p{
font-family: 'Poppins', sans-serif !important;
/* font-family: 'Noto Sans TC', sans-serif; */
/* font-family: 'Rubik', sans-serif; */
    
/* font-family: 'Abel', sans-serif; */
/* font-family: 'Noto Sans KR', sans-serif; */
/* font-family: 'Nunito Sans', sans-serif; */
/* font-family: 'Rubik', sans-serif; */
/* font-weight: bold !important; */

/* font-family: 'Varela Round', sans-serif; */
/* font-size: 15px !important; */
color: grey;

}

#login-text{
    /* font-family: 'Roboto' !important; */
    color: gray !important;
    font-size: 30px !important;
    font-family: 'Poppins', sans-serif !important;
    /* background-color: gray !important;     */
}



.navbar-brand{
    /* font-family: 'Roboto' !important; */
    text-shadow: none !important;
    font-family: 'Poppins', sans-serif !important;
   
    
}

#front-text {
    z-index: 100;
    position: absolute;
    color: gray !important;
    font-size: 50px !important;
    /* font-weight: bold; */
    left: 150px;
    top: 112px;
    font-family: 'Poppins', sans-serif !important;
  }

  

  #hire-text {
    z-index: 100;
    position: absolute;
    color: gray !important;
    font-size: 45px !important;
    /* font-weight: bold; */
    left: 170px;
    top: 350px;
  }

#front-btn{
    z-index: 100;
    position: absolute;     
    left: 170px;
    top: 400px;
    height: 50px !important;
    width: 140px !important;  
    
    
}

li {
font-family: 'Poppins', sans-serif !important;    
}

#app-jobs-link{
    color: green !important;
}

#front-2ndbtn{
    z-index: 100;
    position: absolute;     
    left: 320px;
    top: 400px;
    height: 50px !important;
   
    
}    

#gtstrted{
    color: white !important;
    width: 150px !important;
    box-shadow: 0px 0px 5px gray !important;
    font-size: 20px !important;
    font-family: 'Poppins', sans-serif !important;
    border: none !important;
    background-color: #1f98f5 !important;
    left: 170px !important;
    
}

#app-options
{
    font-family: 'Poppins', sans-serif !important;
    font-size: 15px !important;
    color: gray !important;
}

#categories
{
    font-family: 'Poppins', sans-serif !important;
    font-size: 15px !important;
    color: gray !important;
}

.btn{
    font-family: 'Poppins', sans-serif !important;
    
}

/* a{
    font-family: 'Poppins', sans-serif !important;
} */


#learnbtn{    
    color: white !important;
    width: 150px !important;
    box-shadow: 0px 0px 5px gray !important;
    font-size: 20px !important;
    font-family: 'Poppins', sans-serif !important;
    border: none !important;
    
    
 
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 80% !important;
    box-shadow: 0px 0px 4px gray !important;
    background-color: white !important;
}

.jobs-tr{
    background-color: white !important;
    
}

.dropdown-item{
    color: gray !important;
}

#pricing-price{
    font-size: 22px !important;
    background-color: #27A3ED !important;
    color: white !important;
    height: 15% !important;
}

#pricing-des{
    font-size: 17px !important;
}


#profile-link{
    color: white !important;
}

.image-container img {
    border-radius: 50% !important;
    width: 55px;
    height: 55px;
    border: 2px solid #1092f2 !important;
    /* background-color: #1081d5 !important; */
    box-shadow: 0px 0px 4px gray !important;
}

.report-note img {
    border-radius: 50% !important;
    width: 44px;
    height: 44px;
    /* border: 2px solid #1092f2 !important; */
    /* background-color: #1081d5 !important; */
    box-shadow: 0px 0px 4px gray !important;
}

.image-container2 img {
    border-radius: 50% !important;
    width: 85px;
    height: 82px;
    border: 2px solid #1092f2 !important;
    /* background-color: #1081d5 !important; */
    box-shadow: 0px 0px 4px gray !important;
}

.card-update{
    background-color: white !important;
   
}

.main-title{
    color: red !important;
}

/* #job-des{
    height: 40px !important;
} */

.navbar{
    background-color: white !important;
}

.card-body{
    background-color: white !important;
    box-shadow: 0px 0px 3px #BDC3C7;
    
}

.card-footer{
    box-shadow: 0px 0px 2px #BDC3C7;
    /* background-color: #E5E7E9 !important; */
}

.nav-item{
    font-size: 18px;
    
}

#nav-top{
    background-color: white !important;
    box-shadow: 0 3px 3px -2px rgba(0,0,0,.2);
    
}

body{
    background-color: #f2f2f2 !important;
}

.filter-text{
    color: gray !important;
}

.io-text{
    color: gray !important;
}


#footer-part{
    /* background-color: #1092F2 !important; */
    height: 43vh !important;
    background-color: #1081d5 !important;
    
};

/*  */

#job-update-form{
    /* background-color: #1092F2 !important; */
    /* height: 38vh !important; */
    background-color: #1081d5 !important;
    
};

#apply-job-card{
    background-color: green !important;
}

.app-form{
    background-color: white !important;
    box-shadow: 0px 0px 6px #BDC3C7;
}

.soc-logo{
    height: 45px !important;
    
}



.social-logo{
   
    height: 42px !important;
}



.navbar-brand{
    color: gray !important;
    font-size: 25px !important;
}

#delete-note{
    color: red !important;
}

#update-note{
    
    color: #27A3ED !important;
}

#add-note{
    color: #27A3ED !important;
}

#main-cards{

    /* box-shadow: 0px 0px 4px red !important; */
    height: 10% !important;
    width: 265px !important;
}

#pricing-cards{

    /* box-shadow: 0px 0px 4px red !important; */
    height: 10% !important;
    width: 290px !important;
    height: 60vh !important;
}

.submain{
    color: gray !important;
}

.card-title{
    font-size: 28px !important;
    height: 20px !important;
    font-family: 'Poppins', sans-serif !important;
}

.card-header{
    font-size: 20px !important;
    color: gray !important;
    font-family: 'Poppins', sans-serif !important;

}

.subnav{
    height: 6vh;
    font-family: 'Poppins', sans-serif !important;
    
}

a{
    /* color: gray !important; */
}


#jumbo-text{
    
    /* color: #4D4C4B !important; */
    color: #5B5F5F !important;
    font-size: 50px !important;
    height: 95px;
}

/* .jumbotron{

} */

#main-jumbo{
    /* background-color: #0977c8 !important; */
    /* background-color: #0A71BE !important;     */
    
    background-color: #118ce6 !important;      
    color: white !important;
    box-shadow: 0px 0px 6px #BDC3C7;
    
}

h3{
    color: #1D9BFA !important;
}

h4{
    color: white !important;
}

h5{
    color: gray !important;
    font-family: 'Poppins', sans-serif !important;
}

li{
    color: white !important;
}

th{
    color: #6D6F70 !important;
}

h1{
    color: gray !important;
    font-family: 'Poppins', sans-serif !important;
        /* font-family: 'Roboto' !important; */

}

#copy-text{
    font-family: 'Poppins', sans-serif !important;
}